@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
.body {
  font-family: 'Museo Sans Cyrl','Amatic SC';
  width: 100%;
  position: relative;
}

.header__pinkspot {
  position: absolute;
  top: 636px;
}

.header__greenspot {
  position: absolute;
  left: 96.9%;
  top: 20%;
}

.header__greenspotbutton5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19%;
  left: 31%;
  list-style-type: none;
}

.header {
  display: flex;
  margin: 0 auto;
  max-width: 1635px;
  flex-direction: column;
}

.header__navbar {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.header__navbar .header___navbar-burger {
  margin-top: 30px;
}

.header__navbar-socialInfo {
  margin-top: 19px;
}

.header__navbar-socialInfo .header__navbar-socialButton .button {
  padding-right: 13px;
}

.header__navbar-socialInfo .header__text {
  height: 14px;
  text-decoration-line: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  color: rgba(232, 115, 131, 0.6);
}

.header__navbar-socialInfo .header__text p {
  padding-left: 13px;
  padding-top: 10px;
}

.header__navbar-actual {
  position: relative;
  width: 279px;
  height: 60px;
  border: 1px solid #E87383;
  box-sizing: border-box;
  border-radius: 100px;
  right: 20%;
}

.header__navbar-actual .buttonText {
  font-weight: 300;
  width: 160px;
  height: 22px;
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  line-height: 22px;
  color: #E87383;
}

.header__navbar-course {
  text-decoration: none;
  position: absolute;
  left: 60px;
  top: 19px;
}

.header__titleInfo-title {
  display: flex;
  justify-content: space-between;
  margin-left: 11%;
}

.header .color {
  color: #E87383;
}

.header .header__titleInfo-scills {
  display: flex;
  justify-content: space-between;
  margin-top: 119px;
  list-style-image: url("/img/vetca.svg");
  width: 100%;
  margin-left: 65px;
}

.header .header__titleInfo-scills .header__titleInfo-numberStyle {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 24px;
  color: #000000;
}

.header .header__titleInfo-scills .header__titleInfo-stringStyle {
  margin-top: 20px;
  margin-left: -10px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/*ol, ul {
	//list-style: none;
}*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-300.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-500.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url("../fonts/MuseoSansCyrl-700.woff");
  font-weight: 600;
  font-style: normal;
}

.header__titleInfo-text {
  display: flex;
  flex-direction: column;
}

.header__titleInfo-text .header__title {
  margin: 94px 0 0 0;
  text-align: center;
}

.header__titleInfo-text .header__titleheader-titleInfo {
  display: flex;
  flex-direction: column;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: 300;
  font-size: 170px;
  line-height: 130px;
  color: #000000;
  width: 659px;
}

.header__titleInfo-text .header__titleheader-description {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  width: 643px;
  margin-top: 35px;
}

.header__titleInfo-button {
  display: flex;
}

.header__titleInfo-button .header__titleInfo-more {
  width: 279px;
  height: 60px;
  left: 665px;
  top: 652px;
  border: 1px solid #4D9C8C;
  box-sizing: border-box;
  border-radius: 100px;
  margin-right: 30px;
  margin-top: 50px;
}

.header__titleInfo-button .header__titleInfo-more .reconl {
  max-width: 202px;
  height: 22px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4D9C8C;
}

.header__titleInfo-button .header__titleInfo-more a {
  position: relative;
  text-decoration: none;
  left: 38px;
  top: 19px;
  background-color: aqua;
}

.header__titleInfo-button .active {
  background-color: #4D9C8C;
}

.header__titleInfo-button .active .reconl {
  color: white;
}

.header__titleInfo-side {
  position: relative;
  margin-top: 86px;
  right: 15%;
}

.header__titleInfo-side .elips {
  position: absolute;
  top: 98px;
  left: 91px;
}

.header__pinkspot {
  position: absolute;
  top: 636px;
}

.header__greenspot {
  position: absolute;
  left: 96.9%;
  top: 20%;
}

.sliderwork {
  background-image: url("../../../img/bgsvim.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1920px;
  margin-top: 125px;
  min-height: 2421px;
  background-size: cover;
  background-position: center;
}

.sliderwork__title {
  max-width: 1280px;
  margin: 0 auto;
}

.sliderwork__title-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  padding-top: 65px;
}

.sliderwork__slider .sliderwork__list {
  max-height: 585px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.sliderwork__slider .sliderwork__title-arrow {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.sliderwork__slider .rightarrow {
  transform: rotate(180deg);
  margin-left: 10px;
  box-sizing: border-box;
}

.sliderwork__slider .arrow-active {
  width: 80px;
}

.sliderwork__profway-title {
  margin: 0 auto;
  padding-top: 160px;
  height: 60px;
  left: 740px;
  right: 740px;
  top: 2004px;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  /* identical to box height, or 92% */
  text-align: center;
  color: #000000;
}

.sliderwork__profway {
  max-width: 80%;
  margin-left: 211px;
}

.sliderwork .sliderwork__profway-info {
  display: flex;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-img {
  margin: 153px 60px 0 0;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps {
  display: flex;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list {
  list-style-type: none;
  margin: 90px 35px 0 60px;
  display: flex;
  flex-direction: column;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list .profway-steps-item {
  margin-bottom: 155px;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list .steps-yar {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #4D9C8C;
  text-align: center;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list .steps-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 37px;
  text-align: center;
  color: #4D9C8C;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list .steps-discription {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
  min-height: 60px;
  width: 100%;
  padding-bottom: 10px;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps .sliderwork__profway-steps-list .steps-href {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 4px;
  color: #E87383;
  text-decoration-line: none;
  border-bottom: 1px solid #E87383;
}

.sliderwork .sliderwork__profway-info .sliderwork__profway-steps-list2 {
  margin: 130px 0 0 0;
}

.sliderwork .sliderwork__profway-info hr {
  opacity: 0.3;
  border: 2px solid #4D9C8C;
  box-sizing: border-box;
  margin-top: 80px;
}

.sliderwork .sliderwork__profway-button {
  margin-top: 66px;
  display: flex;
  margin-left: 720px;
}

.sliderwork .sliderwork__profway-button-more {
  width: 279px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #E87383;
  box-shadow: 0px 15px 30px rgba(232, 115, 131, 0.25);
  border-radius: 100px;
  margin-left: 30px;
}

.sliderwork .sliderwork__profway-button-more a {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 229px;
  text-decoration: none;
  text-align: center;
  color: #E87383;
  position: relative;
  top: 19px;
  left: 30px;
}

.sliderwork .sliderwork__profway-button .active {
  background: #E87383;
}

.sliderwork .sliderwork__profway-button .active a {
  color: #FFFFFF;
}

.numbersProfi__container {
  max-width: 1250px;
  height: 964px;
  margin: 0 auto;
  padding-top: 190px;
}

.numbersProfi__container .numbersProfi__title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.numbersProfi__container .numbersProfi__title-title {
  margin-bottom: 80px;
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
}

.numbersProfi__container .numbersProfi__title .numbersProfi__list-container {
  display: flex;
  min-width: 100%;
}

.numbersProfi__container .numbersProfi__title .numbersProfi__list-container .numbersProfi__list-img {
  list-style-type: none;
  position: relative;
}

.numbersProfi__container .numbersProfi__title .numbersProfi__list-container .numbersProfi__list-img .item-img1 {
  margin-right: 224px;
  position: relative;
  background-color: white;
}

.numbersProfi__container .numbersProfi__title .numbersProfi__list-container .numbersProfi__list-img .item-img2 {
  margin-left: 259px;
  position: absolute;
  top: 74%;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(77, 156, 140, 0.15);
  border-radius: 20px;
}

.numbersProfi__container .numbersProfi__title .numbersProfi__list-container .numbersProfi__list-img .item-img3 {
  margin-left: 165px;
  position: absolute;
  top: 167%;
}

.book__title {
  max-width: 1234px;
  min-height: 683px;
  margin: 0 auto;
  margin-top: 196px;
}

.book__title .book__title-container .book__title-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  padding-bottom: 80px;
}

.book__title .book__title-container .book__img-container {
  display: flex;
}

.book__title .book__title-container .book__img-container .book__img-lactobacteriy {
  max-width: 660px;
  max-height: 543px;
  padding-right: 70px;
}

.book__title .book__title-container .book__img-withBg {
  position: relative;
}

.book__title .book__title-container .opasitybg {
  position: absolute;
  top: 60px;
  left: 55px;
}

.book__title .book__title-container .book__img-titlecontainer {
  position: absolute;
  top: 91px;
  left: 75px;
}

.book__title .book__title-container .book__img-titlecontainer .book__img-title {
  padding-bottom: 15px;
  font-family: Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  text-align: center;
  color: #4D9C8C;
}

.book__title .book__title-container .book__img-titlecontainer .book__img-discription {
  max-width: 324px;
  box-sizing: border-box;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.book__img-button {
  position: absolute;
  width: 279px;
  height: 60px;
  background: #4D9C8C;
  box-shadow: 0px 15px 30px rgba(77, 156, 140, 0.25);
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  top: 475px;
  right: 129px;
}

.book__img-button .book__img-p {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 19px;
}

.reviews-list {
  display: flex;
}

.reviews-list .reviews-item {
  display: flex;
  list-style-type: none;
  width: 240px;
  height: 80px;
  background: #f3ecec;
  box-shadow: 0px 15px 30px rgba(232, 115, 131, 0.25);
  border: 1px solid #E87383;
  border-radius: 20px;
  margin-left: 20px;
  justify-content: space-around;
}

.reviews-list .reviews-item .reviews-item-block {
  display: flex;
  align-items: center;
}

.reviews-list .reviews-item .reviews-item-title {
  box-sizing: border-box;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
  background: #f3ecec;
  margin-left: 17px;
}

.reviews {
  background-image: url("./../../../img/bgsvim.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 160px;
  max-width: 1920px;
  min-height: 1816px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 35px;
  max-width: 1300px;
}

.reviews__container-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}

.reviews .slider-list {
  display: flex;
  list-style-type: none;
  margin-top: 60px;
}

.reviews .slider-list .slider-item__wrapper {
  position: relative;
  margin-right: 40px;
}

.reviews .slider-list .slider-item__woomen {
  position: absolute;
  z-index: 1;
  left: 0;
}

.reviews .slider-list .slider-item__name {
  position: absolute;
  z-index: 1;
  left: 238px;
  top: 20px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #4D9C8C;
}

.reviews .slider-list .slider-item__discription {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  max-width: 324px;
  box-sizing: border-box;
  margin-bottom: 23px;
  position: absolute;
  left: 238px;
  top: 72px;
}

.reviews .slider-list .slider-item__location {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #E87383;
  position: absolute;
  left: 238px;
  top: 226px;
  display: flex;
  min-width: 205px;
  justify-content: space-between;
}

.video {
  max-width: 1298px;
  min-height: 947px;
  margin: 0 auto;
  margin-top: 196px;
  position: relative;
}

.video .video__container {
  position: relative;
}

.video .video__container .video_container-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 70px;
}

.video .video__container .video__container-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video .video__container .video__img {
  width: 1060px;
  height: 707px;
}

.video .video__container .LeftBottom {
  position: absolute;
  top: 777px;
  left: 0;
}

.video .video__container .LeftTop {
  position: absolute;
  top: 56px;
  left: 0;
}

.video .video__container .RightBottom {
  position: absolute;
  top: 777px;
  left: 1110px;
}

.video .video__container .RightTop {
  position: absolute;
  top: 56px;
  left: 1110px;
}

.video .video__button {
  display: flex;
  justify-content: center;
}

.video .video__button .video__button-more {
  width: 279px;
  height: 60px;
  border: 1px solid #E87383;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 30px;
}

.video .video__button .video__button-more a {
  font-family: Museo Sans Cyrl;
  font-size: 18px;
  line-height: 22px;
  width: 229px;
  text-decoration: none;
  color: #E87383;
}

.video .video__button .active {
  background: #E87383;
}

.video .video__button .active a {
  color: #FFFFFF;
}

.press__container {
  max-width: 1280px;
  min-height: 880px;
  margin: 0 auto;
  margin-top: 190px;
}

.press__container .press__title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}

.press__container .press__news {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.press__container .press__news .press__newsBlokc {
  position: relative;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.press__container .press__news .press__newsBlokc .border {
  position: absolute;
  min-width: 400px;
  min-height: 350px;
  border: 1px solid #E87383;
  border-radius: 20px;
  opacity: 0.3;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-preveu {
  width: 402px;
  height: 200px;
  background: #D3D3D3;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-preveu img {
  width: 40px;
  height: 35px;
  padding-bottom: 23px;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-preveu .press__newsBlokc-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: #000000;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-description {
  margin: 15px 31px 31px 31px;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-description .date {
  font-family: Museo Sans Cyrl;
  font-size: 16px;
  line-height: 16px;
  color: #4D9C8C;
  opacity: 0.5;
  padding-bottom: 10px;
}

.press__container .press__news .press__newsBlokc .press__newsBlokc-description .description {
  width: 265px;
  height: 48px;
  font-family: Museo Sans Cyrl;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.press__container .press__news .press__newsBlokc .press__href {
  display: flex;
  justify-content: space-between;
}

.press__container .press__news .press__newsBlokc .press__href .source {
  text-decoration: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #4D9C8C;
  opacity: 0.5;
}

.press__container .press__news .press__newsBlokc .press__href .sea {
  text-decoration: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #E87383;
}

.bg {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 1583px;
  background-image: url("./../../../img/bgsvim.svg");
  background-repeat: no-repeat;
}

.diversity {
  margin-top: 177px;
}

.diversity .diversity__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 13px;
  max-width: 1280px;
}

.diversity .diversity__title {
  margin-bottom: 80px;
}

.diversity .diversity__title .diversity__title-title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
}

.diversity .diversity__list-course {
  margin-top: 60px;
}

.diversity .diversity__list-course .course-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.diversity .diversity__list-course .course-item {
  max-width: 620px;
  max-height: 286px;
  background: #FFFFFF;
  border: 1px solid rgba(232, 115, 131, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.diversity .diversity__list-course .course-item .course-img {
  width: 190px;
  height: 226px;
  background: #C4C4C4;
  margin: 30px;
}

.diversity .diversity__list-course .course-item .course-item__container {
  max-width: 349px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.diversity .diversity__list-course .course-item .course__type {
  height: 16px;
  top: 30px;
  left: 250px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: #4D9C8C;
}

.diversity .diversity__list-course .course-item .course__title {
  height: 24px;
  top: 61px;
  left: 250px;
  font-family: Museo Sans Cyrl;
  font-size: 25px;
  line-height: 24px;
  color: #E87383;
}

.diversity .diversity__list-course .course-item .course__description {
  height: 66px;
  min-width: 349px;
  left: 250px;
  top: 105px;
  box-sizing: border-box;
}

.diversity .diversity__list-course .course-item .course__description .course__description-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.diversity .diversity__list-course .course-item .course__button {
  width: 279px;
  height: 60px;
  left: 275px;
  top: 196px;
  border: 1px solid #E87383;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diversity .diversity__list-course .course-item .course__button .course__button-title {
  text-decoration: none;
  width: 166px;
  height: 22px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #E87383;
}

.accordion {
  margin-bottom: 190px;
}

.accordion .accordion__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
}

.accordion .accordion__container .accordion__title {
  font-family: Amatic SC;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
  margin-top: 150px;
}

.accordion .accordion__container .accordion__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.accordion .accordion__container .accordion__item {
  position: relative;
  width: 1280px;
  min-height: 97px;
  background: #4D9C8C;
  border-radius: 20px;
  margin-bottom: 10px;
}

.accordion .accordion__container .accordion__item-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  position: relative;
  top: 30px;
  left: 30px;
}

.accordion .accordion__container .accordion__closed {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1208px;
  top: 27px;
  cursor: pointer;
}

.accordion .accordion__container .accordion__item-description {
  display: none;
}

.accordion .accordion__container .accordion__item-img {
  display: none;
}

.accordion .accordion__item.active_accordion {
  box-sizing: content-box;
  width: 1280px;
  min-height: 155px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #4D9C8C;
  box-sizing: border-box;
}

.accordion .accordion__item.active_accordion .accordion__item-title {
  max-width: 664px;
  min-height: 37px;
  font-family: Museo Sans Cyrl;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #4D9C8C;
}

.accordion .accordion__item.active_accordion .accordion__item-description {
  display: block;
  width: 662px;
  min-height: 43px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 52px 0 30px 30px;
}

.accordion .accordion__item.active_accordion .accordion__item-img {
  display: block;
  position: absolute;
  left: 1134px;
  top: 0px;
  border-right: 20px;
}

.accordion .accordion__item.active_accordion .accordion__closed {
  z-index: 3;
  transform: rotate(-45deg);
}

footer {
  background: #EA818F;
}

.footer-container {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1280px;
}

.footer-container .header-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-container .header-footer .header-footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-container .header-footer .header-footer-logo .header-footer__button-list {
  display: flex;
  list-style-type: none;
  width: 159px;
  max-height: 25px;
  margin-top: 57px;
  justify-content: space-between;
}

.footer-container .header-footer .header-footer__href {
  width: 557px;
  height: 84px;
}

.footer-container .header-footer .header-footer__href .header-footer__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-container .header-footer .header-footer__href .footer-href__item a {
  text-decoration: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  margin-right: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

.footer-container .header-footer .header-footer__href .footer-href__item:nth-child(3) a {
  margin-right: 0px;
}

.header__footer-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__footer-button .header__footer-btn {
  width: 279px;
  height: 60px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 15px 30px rgba(232, 115, 131, 0.25));
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__footer-button .header__footer-btn .header__footer-product {
  text-decoration: none;
}

.header__footer-button .header__footer-btn .header__footer-product .header__footer-product-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.footer-hr {
  opacity: 0.5;
  border: 1px solid #FFFFFF;
}

.footer__footer-container .footer__footer-list {
  display: flex;
  list-style-type: none;
}

.footer__footer-container .footer__footer-list .footer__footer-item {
  margin-right: 30px;
}

.footer__footer-container .footer__footer-list .footer__footer-item .footer-item-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__footer-container .footer__footer-list .footer__footer-item:hover {
  cursor: pointer;
}

.header___navbar-burger-container {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  display: none;
}

.header___navbar-burger-container .header___navbar-burger-list {
  width: 47%;
  height: 1000px;
  left: 0px;
  top: 0px;
  background: rgba(232, 115, 131, 0.9);
}

.header___navbar-burger-container .header___navbar-burger-menu {
  max-width: 279px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

.header___navbar-burger-container .header___navbar-burger-menu .header___navbar-social-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 83px;
}

.header___navbar-burger-container .header___navbar-burger-menu .header___navbar-social-list .header___navbar-item {
  margin-right: 15px;
}

.header___navbar-burger-container .header___navbar-list-container .header___navbar-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header___navbar-burger-container .header___navbar-list-container .header___navbar-list-item {
  margin-bottom: 50px;
}

.header___navbar-burger-container .header___navbar-list-container .header___navbar-list-item .header___navbar-href {
  text-decoration: none;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.header___navbar-burger-container .header___navbar-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 43%;
}

.header___navbar-burger-container .header___navbar-btn {
  width: 279px;
  height: 60px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  filter: drop-shadow(0px 15px 30px rgba(232, 115, 131, 0.25));
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header___navbar-burger-container .header___navbar-btn .header___navbar-course {
  text-decoration: none;
}

.header___navbar-burger-container .header___navbar-btn .header___navbar-course .header___navbar-product-title {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */