@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-300.woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-500.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl-700.woff');
	font-weight: 600;
	font-style: normal;
}
