@import"./../mixin";

.body{
    font-family:'Museo Sans Cyrl','Amatic SC' ;
    width: 100%;
    position: relative;
}

.header__pinkspot{
    position: absolute;
    top: 636px;

}
.header__greenspot{
    position: absolute;
    left: 96.9%;
    top:20%;
}

.header__greenspotbutton5{
display: flex;
flex-direction: column;
position: absolute;
top: 19%;
left: 31%;
list-style-type: none;

}
.header{
    display: flex;
        margin: 0 auto;
        max-width: 1635px;
        flex-direction: column;
        &__navbar{
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
            @include tablet{
                width: 94%;
                margin: 0 auto;
                margin-top: 16px;
                display: flex;
                justify-content: initial;
                
            }
            @include mobile{
                width: 90%;
                margin: 0 auto;
                margin-top: 16px;
                display: flex;
                justify-content: initial;
            }
            
            .header___navbar-burger{
                margin-top: 30px;
        }
        &-logo{
            width: 178px;
            @include tablet{
                max-width: 178px;
                margin-left: 45%;
            }
            @include mobile{
                margin-top: 17px;
                max-width: 83px;
                margin-left: 45%;
            }
        }
        &-socialInfo{
            margin-top: 19px;
            @include tablet{
                margin-left: 22%;
                .header__navbar-socialButton{
                    display: flex;
                }
            }
            .header__navbar-socialButton .button{
            padding-right: 13px;
            }
            .header__text{
                height: 14px;
                text-decoration-line: none;
                font-family: Museo Sans Cyrl;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 16px;
                color: rgba(232, 115, 131, 0.6);
            }
            .header__text p{
                padding-left: 13px;
                padding-top: 10px;
            }
        }

        &-actual{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 279px;
            height: 60px;
        border: 1px solid #E87383;
        box-sizing: border-box;
        border-radius: 100px;
        right: 20%;
        @include tablet{
            width: 230px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include mobile{
            display: none;
        }
            .buttonText{
                font-weight: 300;
                width: 160px;
                height: 22px;
                font-family: Museo Sans Cyrl;
                font-size: 18px;
                line-height: 22px;
                // text-align: center;
                color: #E87383;
                @include tablet{
                    font-size: 14px;
                    max-width: 130px;
                }
            }
        }

        &-course{
            text-decoration: none;

        }
    }
        &__titleInfo{
            &-title{
                display: flex;
                justify-content: space-between;
                @include desctop{
                    flex-direction: column;
                    align-items: center;
                    margin: 0 auto;
                }
            }
            
        }
        .color{
            color:#E87383;
        }
        .header__titleInfo-scills{
            display: flex;
            justify-content: space-between;
            margin-top: 119px;
            list-style-image: url("/img/vetca.svg");
            width: 100%;
            margin-left: 65px;
            @include desctop{
                margin-left:8%;
            }
            .header__titleInfo-numberStyle{
                font-family: Amatic SC;
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 24px;
                color: #000000;
            }
            .header__titleInfo-stringStyle{
                margin-top: 20px;
                margin-left: -10px;
                font-family: Museo Sans Cyrl;
                font-style: normal;
                font-weight: 300;
                font-size: 22px;
                line-height: 24px;
                color: #000000;

            }
            
        }
}

    @include tablet{
        .header .header__titleInfo-scills{
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            margin-top: 0px;
        }
        .header__titleInfo-scills >li{
        margin-bottom: 49px;
    }
        .header__titleInfo-scills >li:nth-child(2){
            margin:  0 70px 67px 0;
        }
    }
