@import "./../variebels";
.header__titleInfo-text{
    display: flex;
    flex-direction: column;
    .header__title{
        margin: 94px 0 0 0 ;
        text-align: center;
    }
    
    .header__titleheader-titleInfo{
        display: flex;
        flex-direction: column;
        font-family: Amatic SC;
        font-style: normal;
        font-weight: 300;
        font-size: 170px;
        line-height: 130px;
        color: #000000;
        width: 659px;
    }
    
    }

    .header__titleheader-description{
        font-family: Museo Sans Cyrl;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #000000;
        width: 643px;
        margin-top: 35px;
    }
    .header__titleheader-description-tablet{
        display: none;
    }
    
    

.header__titleInfo-button{
    display: flex;
    .header__titleInfo-more{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 279px;
        height: 60px;
        left: 665px;
        top: 652px;
        border: 1px solid #4D9C8C;
        box-sizing: border-box;
        border-radius: 100px;
        margin-right: 30px;
        margin-top: 50px;
        .reconl{
            max-width: 202px;
            height: 22px;   
            font-family: Museo Sans Cyrl;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #4D9C8C;
        }
    }
    .header__titleInfo-more a{
        text-decoration: none;
    }
    .active{
    background-color: #4D9C8C;
        .reconl{
            color: aliceblue;
        }
    
    }
    
    

    
}
@include tablet{
    .header__titleInfo-text .header__title{
        
        margin: 60px 0 0 0 ;
    }
    .header__titleInfo-text .header__titleheader-titleInfo{
        max-width: 468px;
        margin: 0 auto;
        font-size: 140px;
        line-height: 115px;
    }
    .header__titleheader-description{
        display: none;
    }
    .header__titleheader-description-tablet{
        display: block;
        width: 503px;
        max-height: 111px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: Museo Sans Cyrl;
        font-style: normal;
        font-weight: 300;
        font-size: 27px;
        line-height: 37px;
        text-align: center;
        color: #000000;
    }
    .header__titleInfo-tablet-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .header__titleInfo-wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
}