.reviews{
    background-image: url("./../../../img/bgsvim.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 160px;
    max-width: 1920px;
    min-height: 1816px ;
    //background-size: cover;
    // background-position: center;
    

    &__container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 35px;
        max-width: 1300px;
        &-title{
            font-family: Amatic SC;
            font-style: normal;
            font-weight: normal;
            font-size: 65px;
            line-height: 60px;
            text-align: center;
            color: #000000;
            margin-bottom: 80px;
    
        }
       
        .reviews__slider-arrow{
            display: flex;
            justify-content: end;
            margin-top: 20px;
            .reviews__rightarrow{
                transform: rotate(180deg);
                margin-left: 10px;
                box-sizing: border-box;
               
            }
            .arrow-active{
                width: 80px;
                 
            }
        }
    }
   .reviews__container-slider{
       overflow: hidden;
   }
    .reviews__slider-list{
        position: relative;
        max-height: 585px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        max-width: 1250px;
        left: -3300px;
        transition: all ease 2s;

        
        .reviews__slider-item{
            margin-right: 40px; 
            position: relative;
            // .slider-item__wrapper {
            //     position:absolute;
            // }        
        
        .slider-item__woomen{
            position: absolute;
            z-index: 1;
            left: 0;
        }
        .slider-item__name{
            position: absolute;
            z-index: 1;
            left: 238px;
            top: 20px;
            font-family: Museo Sans Cyrl;
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #5d9e43;    
          }

        .slider-item__discription{
            font-family: Museo Sans Cyrl;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            color: #000000;
            max-width: 324px;
            box-sizing: border-box;
            margin-bottom: 23px;
            position: absolute;
            left: 238px;
            top: 72px;
        }
        .slider-item__location{            
        font-family: Museo Sans Cyrl;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #b36672;
        position: absolute;
        left: 238px;
        top: 226px;
        display: flex;
        min-width: 205px;
        justify-content: space-between;
        }
    }
    }
    .slider__button{
        display: flex;
        justify-content: center;
        .slider__button-more{
            width: 279px;
            height: 60px;
            border: 1px solid #E87383;
            box-sizing: border-box;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            .button-more-href{
                min-width: 166px;
                height: 22px;
                font-family: Museo Sans Cyrl;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                text-align: center;
                color: #E87383;
            }
            
            
        }
        .activeder{
            background: #E87383;
            .button-more-href{
                    color: #FFFFFF;
                
            }
        
        }
        
    }
   
}



