.bg{
    margin: 0 auto;
    max-width: 1920px;
    min-height: 1583px;
    background-image: url("./../../../img/bgsvim.svg");
    background-repeat: no-repeat;
}
.diversity{
    // margin: 0 auto;
    // max-width: 1920px;
    // min-height: 1816px;
    // background-image: url("./../../../img/bgsvim.svg");
    // background-repeat: no-repeat;
    margin-top: 177px;
    
    .diversity__container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 13px;
        max-width: 1280px;
    }
    .diversity__title {
        // padding-top: 13px;
        margin-bottom: 80px;


        .diversity__title-title {
            
            font-family: Amatic SC;
            font-style: normal;
            font-weight: normal;
            font-size: 65px;
            line-height: 60px;
            text-align: center;
            color: #000000;
        }
    }
    .diversity__list-course{
        margin-top: 60px;
        @include desctop{
            margin-left: 20%;
        }
        .course-list{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .course-item{
            max-width: 620px;
            max-height: 286px;
            background: #FFFFFF;
            border: 1px solid rgba(232, 115, 131, 0.2);
            box-sizing: border-box;
            border-radius: 20px;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            .course-img{
                width: 190px;
                height: 226px;
                background: #C4C4C4;
                margin: 30px;
            }
            .course-item__container{
                max-width: 349px;                ;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
            }
            .course__type{
                height: 16px;
                top: 30px;
                left: 250px;
                font-family: Museo Sans Cyrl;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 16px;
                color: #4D9C8C;
            }
            .course__title{
                height: 24px;
                top: 61px;
                left: 250px;
                font-family: Museo Sans Cyrl;
                font-size: 25px;
                line-height: 24px;
                color: #E87383;
            }
            .course__description{
                height: 66px;
                min-width: 349px;
                left: 250px;
                top: 105px;
                box-sizing: border-box;
                .course__description-title{
                   
                    font-family: Museo Sans Cyrl;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                }
            }
            .course__button{
                width: 279px;
                height: 60px;
                left: 275px;
                top: 196px;
                border: 1px solid #E87383;
                box-sizing: border-box;
                border-radius: 100px;
                display: flex;
                justify-content:center;
                align-items: center;
                .course__button-title{
                    text-decoration: none;
                    width: 166px;
                    height: 22px;
                    font-family: Museo Sans Cyrl;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #E87383;
                }
                
            }
            .active{                   
                background: #E87383;
                .course__button-title{
                    color: #FFFFFF;
                }
        }
        }

    }
}